<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link href="/static/antd.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <!--<link href="https://unpkg.com/antd/dist/antd.min.css" rel="stylesheet">-->
</head>
<body>
<div id="root"><%- root %></div>
<script>
    window.REDUX_STATE = <%- JSON.stringify(reduxState) %>
</script>
</body>
</html>