
.home-head-logo,.home-head-login{
    height: 80px;
    color:#108ee9;
    border-bottom:1px solid #dedede;
    padding:20px;
    font-size:25px;
    text-align:right;
}

.home-head-logo{
    text-align:left;
}

.home-slogan{
    font-size:1rem;
    font-style: italic;
    width:300px;
    margin:200px auto;
    /*position: relative;*/
    /*top:40%;*/
    height:100px;
}


.home-news{
    font-size:1rem;
    text-align:left;
    width:600px;
    margin:0 auto;

}

.home-news-item{
    padding:10px;
    border-bottom:1px solid #dedede;
}