
.home-head-logo,.home-head-login{
    height: 80px;
    color:#108ee9;
    border-bottom:1px solid #dedede;
    padding:20px;
    font-size:25px;
    text-align:right;
    cursor:pointer
}

.home-head-logo{
    text-align:left;
}

.home-slogan{
    font-size:1rem;
    font-style: italic;
    width:300px;
    margin:200px auto;
    /*position: relative;*/
    /*top:40%;*/
    height:100px;
}


.home-news{
    font-size:1rem;
    text-align:left;
    width:600px;
    margin:0 auto;

}

.home-news-item{
    padding:10px;
    border-bottom:1px solid #dedede;
    height:200px;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow:  0px 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    margin-top: 20px;
    cursor: pointer;
}

.home-news-item:after,.home-news-item:before{
    content:'';
    z-index: -1;
    background:#f00;
    position:absolute;
    top:50%;
    bottom:0;
    left:30px;
    right:30px;
    -webkit-box-shadow:  0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:  0 0 20px rgba(0,0,0,0.8);
    box-shadow:  0 0 20px rgba(0,0,0,0.8);
    border-radius:100px/10px

}