
.home-head-logo,.home-head-login{
    height: 80px;
    color:#108ee9;
    border-bottom:1px solid #dedede;
    padding:20px;
    font-size:25px;
    text-align:right;
    cursor:pointer
}

.home-head-logo{
    text-align:left;
}

.home-slogan{
    font-size:1rem;
    font-style: italic;
    width:300px;
    margin:200px auto;
    /*position: relative;*/
    /*top:40%;*/
    height:100px;
}


.home-news{
    font-size:1rem;
    text-align:left;
    width:60%;
    margin:0 auto;

}

.home-news-item{
    padding:20px;
    border-bottom:1px solid #dedede;
    min-height:200px;
    max-height:400px;
    word-wrap:break-word;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -moz-box-shadow:  0px 1px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 1px 4px rgba(0,0,0,0.3);
    margin-top: 20px;
    background:#fff;
    cursor: pointer;
    position:relative;
}

.home-news-item:before, .home-news-item:after{
    content:'';
    position:absolute;
    z-index: -1;
    -webkit-box-shadow:  0 0 20px rgba(16,142,233,0.5);
    -moz-box-shadow:  0 0 20px rgba(16,142,233,0.5);
    box-shadow:  0 0 20px rgba(16,142,233,0.5);
    top:10%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}


.home-news-item-markdown{
    overflow: hidden;
    height:70%
}