.space-part{
    position:relative;
}

.space-title{
    font-size:1rem;
    font-style: italic;
    width:300px;
    margin:0 auto;
    text-align:center;
}

.space-editor-title{
    font-size:1rem;
    font-weight:bold;
    width:800px;
    margin:0 auto;
    text-align:left;
}

.space-editor{
    width: 800px;
    margin:0 auto;
    height:600px;
    border:1px solid #dedede;
}

.space-editor>div{
    height:100%
}

.space-post{
    width:800px;
    margin:20px auto;
    text-align:right;
}

.space-manage{
    text-align: right;
    marign-top:20px;
    padding-right:30px;
    padding-top:20px;
}