<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />

    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/default.min.css" rel="stylesheet">
    <!--<link href="/static/react-draft-wysiwyg.css" rel="stylesheet">-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">-->
    <!--<link href="https://unpkg.com/antd/dist/antd.min.css" rel="stylesheet">-->
<link href="/static/dist/bundle.css" rel="stylesheet"></head>
<body>
<div id="root" style="height:100%"><%- root %></div>
<script>
    window.REDUX_STATE = <%- JSON.stringify(reduxState) %>
</script>
<script src="/static/highlight.min.js"></script>
<script >hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="/static/vendor.5b92e378.js"></script><script type="text/javascript" src="/static/bundle.js"></script></body>
</html>