<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div id="root"><%- app %></div>
<script>
    window.REDUX_STATE = <%- JSON.stringify(state) %>
</script>
<script src="./zzz/main.js" charset="utf-8"></script>
</body>
</html>