<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/zzz/common.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
<link href="/zzz/common.css" rel="stylesheet"></head>
<body>
<div id="root"><%- root %></div>
<script>
    window.REDUX_STATE = <%- JSON.stringify(reduxState) %>
</script>
<script src="/zzz/client.js" charset="utf-8"></script>
<script type="text/javascript" src="/zzz/client.js"></script></body>
</html>